* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  height: 100vh;
  background-color: #238a0a;
}
.CoinsAndTokens {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.break {
  width: 30px;
}
#sell {
  margin-top: 5px;
}
nav {
  text-align: center;
}
.area {
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  cursor: pointer;
}
.area:hover {
  background-color: purple;
}
.lime {
  background-color: lime;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}

#ID0 {
  height: 120px;
  grid-row-end: span 4;
}
#IDRed {
  grid-column-start: 6;
  grid-column-end: 8;
  width: 80px;
}
#IDBlack {
  width: 80px;
}
.selected {
  background-color: purple;
}
.Store {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.Items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.storeBought,
.storeTrue,
.storefalse {
  margin-top: 5px;
  width: 80px;
}
.storeTrue {
  background-color: #1e90ff;
  cursor: pointer;
}
.storefalse {
  background-color: red;
}
.storeBought {
  background-color: #1e90ff;
  cursor: pointer;
  color: white;
}
