:root {
  --tokeniize: 75px;
}

.token {
  background-color: white;
  width: var(--tokeniize);
  height: var(--tokeniize);
  border-radius: 50%;
  border: 5px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.token_value {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
