.card {
  background-color: white;
  height: 120px;
  width: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}
.card__color {
  height: 48px;
  width: 48px;
  align-self: center;
}
.card__secondNumber {
  align-self: flex-end;
}
