:root {
  --coinsiize: 75px;
}

.coin {
  background-color: #ffff66;
  width: var(--coinsiize);
  height: var(--coinsiize);
  border-radius: 50%;
  border: 5px solid #ded827;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin_value {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #a49f11;
}
