.h2 {
  text-align: center;
  margin-bottom: 40px;
}
.board {
  display: flex;
  justify-content: center;
}
.areas {
  display: grid;
  grid-template-columns: repeat(13, 40px);
}
.panel {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.panel div {
  margin: 10px;
}
.panel_drawn {
  width: 80px;
  height: 80px;
  border: 1px solid white;
}
.panel_rateControl_Remove,
.panel_rateControl_Add {
  display: flex;
}
.add,
.remove {
  width: 60px;
  height: 40px;
  cursor: pointer;
}
.add {
  background-color: #1e90ff;
}
.remove {
  background-color: red;
}
.spin {
  cursor: pointer;
  width: 80px;
  height: 65px;
  font-size: 20px;
  color: white;
  background: linear-gradient(0.25turn, black, green, red);
}
.panel_drawn {
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel_rate,
.panel_tokens {
  display: flex;
  flex-direction: column;
  align-items: center;
}
